@model UltimateBrain.Models.Preguntum

@{
    ViewData["Title"] = "Details";
}


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h2 class=""><b>Details Preguntum</b> </h2>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
           
                        <div>
        
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.TextoPregunta)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TextoPregunta)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Respuestas)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Respuestas)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Categoria)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Categoria)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Dificultad)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Dificultad)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Tipo)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Tipo)
                                </dd>
                            </dl>
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
                            <a asp-action="Index">Back to List</a>
                        </div>



                    </div>

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>





