@model PreguntaViewModel


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header  border-info">
                        <h2 class=""><b>Juego</b> </h2>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div>
                            Tiempo restante: <span id="tiempoRestante">@Model.TiempoRestante</span> segundos
                        </div>

                        <h5>@Model.participante.NickName : id= @Model.participante.Id</h5>

                        <h2>@Model.Pregunta.TextoPregunta</h2>

                        @using (Html.BeginForm("ValidarRespuesta", "Preguntums", FormMethod.Post))
                        {
                            <ul>
                                @for (int i = 0; i < Model.Opciones.Count; i++)
                                {
                                    <li>
                                        <label>
                                            @Html.RadioButton("respuestaId", Model.Opciones[i].Id) @Model.Opciones[i].TextoRespuesta
                                        </label>
                                    </li>
                                }
                            </ul>

                            @Html.Hidden("participanteId", Model.participante.Id)

                            <button type="submit">Responder</button>
                        }

                        <script>
                            var tiempoRestante = @Model.TiempoRestante;

                            var interval = setInterval(function () {
                                tiempoRestante--;
                                document.getElementById("tiempoRestante").innerText = tiempoRestante;

                                if (tiempoRestante == 0) {
                                    clearInterval(interval);
                                    document.getElementById("tiempoRestante").innerText = "Tiempo agotado";
                                    terminarPartida();
                                }
                            }, 1000);

                            function terminarPartida() {
                                window.location.href = '@Url.Action("TerminarPartida", "Juego")';
                            }
                        </script>

                    </div>

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

